@import "tailwindcss";

@theme {
  --color-neon-cyan: #0ff;
  --color-neon-pink: #f0f;
  --color-neon-green: #0f0;
}

body {
  @apply bg-gray-950 text-white overflow-hidden;
  margin: 0;
  padding: 0;
}
